@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.div-container {
    display: grid;
    width: 700px;
    grid-template-columns: 159px 159px 159px 159px 159px;
    grid-template-rows: 70px 70px 100px 150px 150px 60px;
}

.div-container> div {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.title {
    background-color: gold;
    grid-column: 1/3;
    grid-row: 1/0;
}

.nav1 {
    text-align: left;
    grid-column: 1/0;
    background-color: rgb(253,193,203);
    display: grid;
    place-content: center;
}

.nav2 {
    text-align: left;
    grid-column: 1/0;
    background-color: rgb(253,193,203);
    display: grid;
    place-content: center;
}

.nav3 {
    text-align: left;
    grid-column: 1/0;
    background-color: rgb(253,193,203);
    display: grid;
    place-content: center;
}

.el {
    border: solid #f0f0f0;
}

.post-title {
    text-align: left;
    background-color: rgb(175,216,229);
    grid-row: 2/3;
    grid-column: 1/5;
}

.side-bar {
    text-align: left;
    background-color: rgb(252,170,76);
    grid-row: 2/4;
    grid-column: 0/5;
}

.post-meta {
    text-align: left;
    background-color: rgb(151,236,148);
    grid-row: 3/6;
    grid-column: 1/2;
}

.main-content {
    text-align: left;
    background-color: rgb(211,211,211);
    grid-row: 0/5;
    grid-column: 2/5;
}

.ads {
    text-align: left;
    background-color: rgb(28,126,18);
    grid-row: 0/6;
    grid-column: -1/5;
}

.main-content-image {
    text-align: left;
    background-color: rgb(255,252,56);
    grid-row: 4/6;
    grid-column: 2/5;
}

.other-stuff {
    text-align: left;
    background-color: rgb(219,80,248);
    grid-row: 0/6;
    grid-column: -1/5;
}

.footer {
    text-align: left;
    background-color: rgb(160,136,128);
    grid-row: 0/0;
    grid-column: 1/6;
}